@import './base/normalize';
@import './base/fonts';
@import './utils/variables';
@import './utils/mixins';
@import './utils/general';
@import './components/logo';
@import './components/header';
@import './components/index/hero';
@import './components/index/features';
@import './components/index/activities';
@import './components/index/team';
@import './components/socmedia';
@import './components/index/clients';
@import './components/footer';
@import './components/index/modal';
@import './components/portfolio/filters';
@import './components/portfolio/projects';
// @import './components/menu';
