.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  @media (min-width: 1200px) {
    justify-content: flex-start;
  }
}

.top-line {
  display: none;
  @media (min-width: 768px) {
    @include flexcenter;
  }
}

.contacts-bigscreen {
  display: none;
  @media (min-width: 768px) {
    @include flexcenter;
  }
  @media (min-width: 1200px) {
    margin-left: auto;
  }
}

.menu-container {
  position: fixed;
  z-index: 80;
  top: 0;
  left: 0;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100vw;
  height: 100vh;

  padding: 48px 40px;
  background-color: $secondary-color;

  transform: translateX(100%);
  transition: transform $trans-duration $timing-func;
}

.menu-container.is-open {
  transform: translateX(0);
}
.menu-toggle {
  position: absolute;
  top: 16px;
  right: 16px;
  background-color: $secondary-color;
  fill: $title-color;
  border: none;
  transition: fill $trans-duration $timing-func;

  &:hover,
  &:focus {
    fill: $accent-color;
  }
}

.menu-toggle {
  @media (min-width: 768px) {
    display: none;
  }
}

.contacts-socmedia {
  margin-top: auto;
}
.menu__socmedia {
  display: flex;
}

.header-contacts {
  margin-bottom: 32px;
  @media (min-width: 768px) {
    margin-bottom: 0;
  }

  @media (min-width: 1200px) {
    display: flex;
  }
}

.navigation__link {
  display: block;
  margin-bottom: 32px;

  color: $title-color;
  text-decoration: none;

  font-size: 40px;
  font-weight: 500;
  line-height: 1.17;
  letter-spacing: 0.02em;

  transition: color $trans-duration $timing-func;

  &:hover,
  &:focus {
    color: $accent-color;
  }
  &--current {
    color: $accent-color;
  }

  @media (min-width: 768px) {
    position: relative;
    margin-bottom: 0;
    padding-top: 32px;
    padding-bottom: 32px;
    bottom: -1px;
    font-size: 14px;
    line-height: 1.14;

    &--current::after {
      color: $accent-color;
      content: '';
      display: block;

      position: absolute;
      bottom: 0;
      left: 0;

      background-color: $accent-color;

      width: 100%;
      height: 4px;
      border-radius: 2px;
    }
  }
}

.header-contacts__item {
  margin-bottom: 32px;
  @media (min-width: 768px) {
    margin-bottom: 0;
  }
}
.header-contacts__item:not(:last-child) {
  @media (min-width: 768px) {
    margin-bottom: 10px;
  }
  @media (min-width: 1200px) {
    margin-bottom: 0;
  }
}

.header-contacts__link {
  color: $primary-color;
  font-size: 24px;
  font-weight: 500;
  line-height: 1.17;
  letter-spacing: 0.02em;
  transition: color $trans-duration $timing-func;

  &--email {
    color: $accent-color;
    font-size: 34px;
  }

  &:hover,
  &:focus {
    color: $accent-color;
  }
  @media (min-width: 768px) {
    font-size: 14px;
    color: $primary-color;

    &:hover .header-contacts__icon,
    &:focus .header-contacts__icon {
      fill: $accent-color;
    }
  }
}

.header-contacts__icon {
  display: none;
  @media (min-width: 768px) {
    display: inline-block;
    margin-right: 10px;
    fill: $primary-color;

    transition: fill $trans-duration $timing-func;
  }
}

.menu__link {
  color: $accent-color;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.22;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.menu__item:not(:last-child):after {
  content: '';

  height: 100%;
  border: 1px solid rgba(33, 33, 33, 0.2);
  background-color: rgba(33, 33, 33, 0.2);
  color: rgba(33, 33, 33, 0.2);
  margin-right: 10px;
  margin-left: 10px;
}

.navigation__item,
.header-contacts__item,
.menu__item {
  text-align: left;
}

@media (min-width: 768px) {
  .navigation {
    display: flex;
  }
  .navigation__item:not(:last-child) {
    margin-right: 50px;
  }
}

@media (min-width: 1200px) {
  .header-contacts__item + .header-contacts__item {
    margin-left: 30px;
  }
  .navigation {
    margin-right: auto;
  }
  .navigation__item:not(:last-child) {
    margin-right: 30px;
  }
}
// /* Ссылки */

// /* Контакты в хедере */

// .header-contacts {
//   margin-left: auto;
// }
// .header-contacts__item + .header-contacts__item {
//   margin-left: 50px;
// }

//
// .header-contacts__link {
//   @include flexcenter;

// }
