.portfolio {
  margin-top: 25px;

  @media (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
}
.portfolio__card {
  @media (min-width: 768px) {
    width: calc((100% - 4 * 15px) / 2);
    margin: 15px;
    @media (min-width: 1200px) {
      width: calc((100% - 6 * 15px) / 3);
    }
  }
}

.portfolio__card:not(:last-of-type) {
  @media (max-width: 480px) {
    margin-bottom: 30px;
  }
}
.portfolio__photo {
  position: relative;
  overflow: hidden;
}
.portfolio__photo::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: $accent-color;
  opacity: 90%;
  z-index: 10;

  transition: transform $trans-duration $timing-func;
}

.portfolio__description {
  position: absolute;
  display: flex;
  align-items: center;
  top: 50%;
  transform: translateY(-50%);

  margin-right: 24px;
  margin-left: 24px;

  font-size: 18px;
  line-height: 1.56;
  color: $secondary-color;
  opacity: 0;

  z-index: 20;

  transition: opacity $trans-duration $timing-func;
}

.portfolio__link {
  transition: box-shadow $trans-duration $timing-func;
  @media (min-width: 768px) {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  &:hover,
  &:focus {
    cursor: pointer;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }

  &:hover .portfolio__description,
  &:focus .portfolio__description {
    opacity: 1;
  }

  &:hover .portfolio__photo::after,
  &:focus .portfolio__photo::after {
    transform: translateY(-100%);
  }
}
.portfolio__text-box {
  padding: 20px 24px;
  @include border(#eeeeee);
  @media (min-width: 768px) {
    flex-grow: 1;
  }
}

.portfolio__title {
  text-align: left;
  color: $title-color;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.portfolio__filter {
  color: $primary-color;

  font-size: 16px;
  line-height: 1.87;
}
