body {
  color: $primary-color;
  background-color: $secondary-color;

  font-family: Roboto, sans-serif;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

.container {
  min-width: 320px;
  max-width: 479px;
  padding-left: 15px;
  padding-right: 15px;
  @media (min-width: 768px) {
    width: 768px;
    max-width: 1190px;
  }
  @media (min-width: 1200px) {
    width: 1200px;
    max-width: 1600px;
  }
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
  @media (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }

  &--no-padding {
    padding-top: 0px;
  }

  &--light-background {
    background-color: $background-color-light;
  }
}

h2 {
  color: $title-color;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.16;
  text-align: center;
  @media (min-width: 1200px) {
    font-size: 36px;
  }
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}
