$primary-color: #757575;
$secondary-color: #ffffff;
$secondary-color-trnsp: #ffffff99;
$accent-color: #2196f3;
$title-color: #212121;
$background-color-dark: #2f303a;
$background-color-light: #f5f4fa;
$icon-color: #afb1b8;
$trans-duration: 250ms;
$timing-func: cubic-bezier(0.4, 0, 0.2, 1);
$hero-gradient: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4));
