.activities {
  display: none;
  @media (min-width: 1200px) {
    display: flex;
    justify-content: center;
    margin-top: 50px;
  }
}

.activities__item {
  position: relative;
}
.activities__item:not(:last-child) {
  margin-right: 30px;
}

.activities__header {
  @include flexcenter;
  justify-content: center;
  position: absolute;
  bottom: 0;

  width: 100%;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);

  color: $secondary-color;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
}
