.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity $trans-duration $timing-func;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 100vw;
  height: auto;

  padding: 40px;

  background-color: $secondary-color;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  transition: transform $trans-duration $timing-func;

  @media (min-width: 1200px) {
    width: 528px;
    height: auto;
  }
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.5);
}
.icon-close {
  position: absolute;
  top: 7px;
  right: 9px;

  width: 30px;
  height: 30px;

  border-radius: 50%;
  @include border(rgba(0, 0, 0, 0.1));
  background-color: $secondary-color;

  cursor: pointer;

  transition: fill $trans-duration $timing-func;

  &:hover,
  &:focus {
    fill: $accent-color;
  }
}

.modal__header {
  margin-bottom: 12px;
  text-align: center;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;

  color: $title-color;
}

.modal__form {
  display: flex;
  flex-direction: column;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
}

.modal__label {
  position: relative;
  display: flex;
  flex-direction: column;
}

.modal__form input,
.modal__form textarea {
  @include border(rgba(33, 33, 33, 0.2));
  border-radius: 4px;
  transition: border $trans-duration $timing-func;
}

.modal__form input:focus-within,
.modal__form textarea:focus-within {
  @include border($accent-color);
  outline: none;
}

.modal__icon {
  position: absolute;
  top: 28px;
  left: 15px;
  display: inline-block;
  transition: fill $trans-duration $timing-func;
}

/* кнопка отправки модального окна */
.modal__button {
  @include flexcenter;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;

  color: $secondary-color;
  background: $accent-color;
  border-color: transparent;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;

  transition: background-color $trans-duration $timing-func;

  &:hover,
  &:focus {
    background-color: #188ce8;
  }
}

.modal__form .modal__label:not(:last-child) {
  margin-bottom: 10px;
}

.modal__label input {
  position: relative;
  min-height: 40px;
  margin-top: 4px;

  padding-left: 42px;
  font-size: 16px;
}

input[type='text']:focus-within ~ .modal__icon,
input[type='tel']:focus-within ~ .modal__icon,
input[type='email']:focus-within ~ .modal__icon {
  fill: $accent-color;
}

textarea {
  margin-top: 4px;
  padding: 12px 16px;
  font-size: 16px;
  resize: none;

  &::placeholder {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.01em;

    color: rgba(117, 117, 117, 0.5);
  }
}
.checkbox {
  display: flex;
  margin-top: 10px;
  margin-bottom: 30px;
  font-weight: 400;
  font-size: 11px;
  @media (min-width: 1200px) {
    font-size: 14px;
  }
}

input[type='checkbox'] {
  margin-right: 8px;
}

.checkbox__link {
  margin-left: 4px;
  color: $accent-color;
}

/* кастом чекбокс */

.checkbox__icon {
  display: inline-block;
  width: 16px;
  height: 15px;
  margin-right: 7px;
  margin-bottom: 0;

  border: 2px solid $title-color;
  border-radius: 2px;

  background-image: url(../images/icon_check.svg);
  background-size: contain;
  background-repeat: no-repeat;
}

input[type='checkbox']:checked + .checkbox__icon {
  margin-right: 7px;

  background-color: $accent-color;

  @include border($accent-color);
  border-radius: 2px;
  background-origin: border-box;
}
