.team {
  // justify-content: space-between;
  margin-top: 30px;
  // margin-top: 50px; for desktop

  @media (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
}

.team__item {
  margin-top: 30px;
  background-color: $secondary-color;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);

  @media (min-width: 768px) {
    width: calc((100% - 4 * 15px) / 2);
    margin: 15px;
  }
}

.team__wrapper {
  padding-top: 30px;
  padding-bottom: 24px;
  // padding-bottom: 30px;for desktop
}
.team__name {
  color: $title-color;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  margin-bottom: 10px;
}

.team__profession {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}
